.container {
  .maincontents {
    padding: 100px 0 50px 0;
    display: block;
    text-align: center;
    transition: 0.5s;
    @media screen and (max-width: 695px) {
      padding-bottom: 0;
    }
    .img {
      vertical-align: top;
      width: 45vh;
      margin: 10px 5px;
      @media screen and (max-width: 560px) {
        width: 40vh;
      }
    }
    .textArea {
      display: inline-block;
      text-align: left;
      vertical-align: bottom;
      margin: 20px 5px;
      @media screen and (max-width: 656px) {
        text-align: center;
      }
      .textContents {
        margin: 20px 0 15px 0;
        div {
          letter-spacing: 1px;
          padding: 5px;
        }
        .artistsName {
          font-weight: 700;
          font-size: 22px;
        }
        .trackName {
          color: #b3b3b3;
          font-size: 20px;
          @media screen and (max-width: 656px) {
            text-align: center;
            font-size: 16px;
          }
        }
      }
      ul {
        list-style: none;
        padding: 5px;
        margin: 5px 0 20px 0;
        font-size: 18px;
        letter-spacing: 1px;
        li {
          margin-bottom: 2px;
        }
      }
      .audio {
        margin-bottom: 30px;
        outline: none;
        width: 40vh;
        @media screen and (max-width: 656px) {
          width: 100%;
        }
      }
    }
  }
}
