.container {
  margin: 5vh 0;
  .topTrack {
    text-align: right;
  }
  .trackContents{
    display: inline-block;
    background-color: greenyellow;
  .albumTrack {
    text-align: right;
  &:hover {
    transition: all 0.3s;
    background-color: #b3b3b3;
    cursor: pointer;
  }
  }
}
  .album {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10vh;
    // 左寄せにする
    .wrapper {
      padding: 5px;
      background-image: linear-gradient(rgba(0,0,0,.6),#121212);
      letter-spacing: 2px;
      margin: 0 5px;
      width: 30vh;
      &:hover {
        transition: all 0.3s;
        background-color: #b3b3b3;
        cursor: pointer;
      }
      img {
        width: 25vh;
        height: 25vh;
      }
      p {
        width: 25vh;
        font-size: 12px;
        text-align: left;
      }
    }
  }
}
