.btn {
  margin-left: 5vh;
  margin-bottom: 5vh;
  border-radius: 100vh;
  border: none;
  outline: none;
  width: 200px;
  height: 50px;
  background-color: #1db954;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  &:hover {
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #1ed760;
  }
  ::before {
    border: none;
    outline: none;
  }
}
.container{
  display: inline-block;
  margin: 0 10%;
.wrapper {
  display: inline-block;
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,.6),#121212);
  letter-spacing: 2px;
  margin: 0 40px;
  padding: 10px;
  max-width: 35vh;
  &:hover {
    transition: all 0.3s;
    background-color: #b3b3b3;
    cursor: pointer;
  }
  .textArea {
    height: 50px;
  }
  div {
    padding: 3px;
  }
  .artistsName{
    font-weight: 700;
    font-size: 15px;
  }
  .trackName {
    color: #b3b3b3;
    font-size: 14px;
  }
  img {
    width: 30vh;
  }
  audio {
    outline: none;
    width: 35vh;
    height: 10vh;
  }
}
}