.btn {
  border-radius: 100vh;
  border: none;
  outline: none;
  width: 200px;
  height: 50px;
  background-color: #1db954;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  &:hover {
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #1ed760;
  }
  ::before {
    border: none; /* 枠線を消す */
    outline: none;
  }
}
.container{
  text-align: center;
.wrapper {
  display: inline-block;
  margin: 0 auto;
  letter-spacing: 2px;
  padding: 10px;
  div {
    font-size: 14px;
    padding: 5px;
  }
  img {
    width: 30vh;
  }
  audio {
    outline: none;
    width: 30vh;
    height: 10vh;
  }
}
}