.container {
    text-align: center;
    margin-bottom: 10vh;
    background-image: linear-gradient(rgba(0,0,0,.6),#121212);
    .title {
      padding: 50px 0;
    }
    .leftcontainer{
      padding: 50px 0;
    }
    .rightcontainer{
      padding: 50px 0;
      background-image: linear-gradient(rgba(0,0,0,.6),#121212);
    }
    .img{
      display: inline-block;
        padding: 20px 5px;
        width: 40%;
        height: 15%;
        vertical-align: middle;
    }
    .textArea{
      display: inline-block;
      vertical-align: middle;
      padding: 10px 0;
      width: 25%;
    }
    .btn {
        margin: 10px;
        border: none;
        border-radius: 100vh;
        width: 200px;
        height: 50px;
        background-color: #1DB954;
        font-size: 16px;
        color: #fff;
        font-weight: 700;
        &:hover {
          cursor: pointer;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          background-color: #1ED760;
        }
        ::before
        {
          border: none;
          outline: none;
        }
      }
}