.container {
  .maincontents {
    margin: 50px 0 10px 0;
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), #121212);
    text-align: center;
    .img {
      vertical-align: top;
      width: 45vh;
      margin: 10px;
    }
    .textArea {
      display: inline-block;
      .textContents {
        text-align: left;
        margin: 20px 0 10px 0;
        div {
          letter-spacing: 1px;
          padding: 5px;
        }
        .artistsName {
          font-weight: 700;
          font-size: 20px;
        }
        .trackName {
          color: #b3b3b3;
          font-size: 18px;
        }
      }
      .wrapper {
        ul {
          text-align: left;
          list-style: none;
          padding: 5px;
          margin: 5px 0 20px 0;
          font-size: 16px;
          li{
            margin-bottom: 2px;
          }
        }
      }
      .audio {
        outline: none;
        width: 40vh;
        height: 10vh;
      }
    }
  }
}
