.menu{
    .menuButton{
        color: #fff;
    }
.title {
    text-decoration: none;
    color: #1DB954;
    font-size: 20px;
&:hover{
    cursor: pointer;
}
.wrapper{
    background-color: red;
}
}
}
.list{
    text-decoration: none;
    width: 250px;

.menuText{
    text-decoration: none;
    color: #121212;
&:hover{
    cursor: pointer;
}
}
}