body {
  margin: 0;
  font-family: "Circular", Helvetica, Arial, sans-serif, "IosFix";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
  border: none;
}

code {
  font-family: "Circular", Helvetica, Arial, sans-serif, "IosFix";
}
