.container {
  margin: 5vh 0;
  .albumPreview {
    margin-bottom: 50px;
    .imgWrapper {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px;
    }
    .trackContents {
      display: inline-block;
      vertical-align: middle;
      margin: 20px 0;
      @media screen and (max-width: 480px) {
        text-align: center;
        margin: 20px 0;
      }
      .albumTrack {
        list-style: none;
        padding: 5px;
        margin-left: 50px;
        text-align: left;
        @media screen and (max-width: 480px) {
          margin-left: 0;
          text-align: center;
        }
        &:hover {
          transition: all 0.3s;
          background-color: #b3b3b3;
          cursor: pointer;
        }
      }
    }
  }
  .album {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10vh;
    // 左寄せにする
    @media screen and (max-width: 780px) {
      display: inline-flex;
      justify-content: center;
      margin: 0;
    }
    .wrapper {
      padding: 10px;
      margin: 10px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), #121212);
      letter-spacing: 2px;
      width: 30vh;
      @media screen and (max-width: 660px) {
        display: inline-block;
        margin: 10px 10px;
        width: 25vh;
      }
      &:hover {
        transition: all 0.3s;
        background-color: #b3b3b3;
        cursor: pointer;
      }
      img {
        width: 25vh;
        height: 25vh;
        @media screen and (max-width: 660px) {
          width: 20vh;
          height: 20vh;
        }
      }
      p {
        width: 20vh;
        margin: 20px;
        font-size: 12px;
        text-align: left;
      }
    }
  }
}
