.menu {
  .menuButton {
    color: #fff;
  }
}
.list {
  text-decoration: none;
  width: 250px;

  .menuText {
    text-decoration: none;
    color: #121212;
    &:hover {
      cursor: pointer;
    }
  }
}
